* {
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: blue;
}

body {
    background-color: orange;
    margin: 0px 30px 30px 30px;
    border: 5px black solid;
    padding: 0px 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: blue;
    text-shadow: 5px 5px 2px black;
}

img {
    /* 반응형 웹의 시작점이다 */
    display: block;
    margin: 0 auto;
}

p {
  line-height: 30px;  
}

li {
    line-height: 30px;
}

.ul-none > * {
    list-style-type: none;
    color: blueviolet;
    display: flex; /*<li> = container*/
    align-items: center; /*<span> = item*/
}

.material-symbols-outlined {
    color: red;
}