* { /*모든 태그를 여기에 맞춰서 시작*/
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.vw-class {
    background-color: brown;
    /* 디바이스의 원래 픽셀에 상관 없이 적용됨, 비율같은 느낌? */
    width: 50vw; 
    height: 60vh;
}

.px-class {
    font-size: 10px;
}

.rem-class {
    font-size: 1.2rem;
}

.em-class {
    font-size: 1.2em;
}

.persent-class {
    font-size: 120%;
}